@use './config' as *;

.darkmode-switch {
  position: absolute;
  z-index: 9999;
  top: 1em;
  right: 0.5em;
  display: flex;
  align-items: center;
  background: var(--background);
  padding: 0.25em 0.5em;
  border-radius: 15px;
  &-switch {
    cursor: pointer;
    width: 50px;
    height: 25px;
    background: #ddd;
    border-radius: 10px;
    margin: 0 0.25em;
    display: flex;
    align-items: center;
    .circle {
      position: relative;
      left: 0;
      width: 19px;
      height: 19px;
      background: #fff;
      margin: 0 0.125em;
      border-radius: 15px;
      @include easeinout;
      &.dark {
        left: 26px;
      }
    }
  }
  &-icon {
    @include easeinout;
    color: var(--color);
    &.active {
      color: darken($accent-color, 20%);
    }
  }
}
